body {
	background-color:beige;
	color:brown; 
	font-size:16px;
	font-family:arial,garamond;sans-serif,:center:;
}
a {	
	color:mulberry; 
}
p {
	color:olive;
	font-size:16px;
	font-family: arial, georgia, sans-serif;
}
