body {
	background-color:beige;
	color:burgundy;
	font-size:16px;
	font-family:arial, garamond; sans-serif;
}
a {	
	color:mulberry;
}
p {
	color:olive;
	font-size:16px;
	font-family: arial, georgia, sans-serif;
}
