body {
	background-color:white;
 	color:#DE133C; /* This is crimson. */
 	font-size:16px;
 	font-family: 'Matel Sans', sans-serif;
}
 a {	
 	color:mulberry; 
    text-decoration: none;
 }
.header-1 {
    width: 30%;
    float: left;
}
.header-2 {
    width: 50%;
}
.header-2 a{
    width: 20%;
    display: inline-block;
    text-align: right;
}
.intro {
    clear: both;
}
/*
input{
    display: block;
}
*/
.logo-container div{
    display: inline;
}
 img {
 	height: 75px;
 	width: 100;
 }
.mylogo {
    height: 10vw;
}
p {
	color: #818003; /* This is hunter green. */ 
	font-size:16px;
	font-family: avenir, garamond, sans-serif;
    text-align: center;
}
h1 {
	font-size: 25px;
	font-weight: bolder;
    text-align: center;
}
.grid {
    display: block;
    margin: 0 auto;
}

.more {
    background-position: center;
    background-size: 100%; 
}
section{
    width: 100%;
}
.styles li{
	border: 1px solid purple;
	color: #DE133C; /* This is crimson. */
	padding: 3px;
	display: inline;
}
.container {
	text-align: center;
}
.read-me{
	margin: 30px;
	margin-bottom: 40px;
}
.read-me a{
	color:#FF9500;
}
.contact-me{
	color: #8335FF; /* This is purple. */ 
/*	width: 300px;*/
	margin: 0 auto;
    clear: both;
    text-align: center;
    display: block;
}
.contact-me ul{
    padding: 0;
}
.contact-me p{
    margin: 0;
}
li{
	list-style-type: none;
	font-family: 'Raleway', sans-serif; 
}
#slogan{
	font-style: italic;
	color:#3A6BDB; /* This is blue. */
    text-align: center;
}

.circle{
	margin: 0 auto;
	border: 1px solid black;
}

.navigation {
    display: none;
}
.navigation li {
    float: left;
    margin: 10px;
}

/* first media query:320px */

@media only screen and (max-width: 320px) {
   .row img {
        height: 70vw !important;
    }
}

/* second media query:320px */

@media only screen and (min-width: 321px) and (max-width: 479px) {
    .row img {
        height: 70vw;
    }
}

/* third media query:320px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .row img {
        height: 50vw;
    }
}

/* fourth media query:320px */

@media only screen and (min-width: 768px) and (max-width: 1079px) {
    .row img {
        height: 30vw;
    }
}

/* fifth media query:320px */

@media only screen and (min-width: 1080px) and (max-width: 1215px) {
    .row img {
        height: 30vw;
    }
}
