body {
	background-color:#FFF; /* This is white. */
 	color:#000; /* This is black. */
 	font-size:16px;
 	font-family: helvetica, sans-serif;
}
a {	
 	color:#000; /* This is black. */ 
 	text-decoration: none;
 }

img {
 	height: 250px;
 	width: 400px;
 }
p {
	color: #000; /* This is black. */ 
	font-size:16px;
	font-family: times, sans-serif;
	clear: both;
}
li{
	list-style-type: none; /* This removes the bulletion points. */ 
	float: left; 
	height: 250px;
	width: 30%;
	margin-bottom: 20px;
}
li:last-child{
	clear: right;
}
img{
	height: 200px;
	width: 300px;
	border: 1px solid black;
}
.Wordmark{
	height: 250px;
	width: 500px;
	margin: 0 auto;
	display: block;
	border: none;
}
footer{
	clear: both;
	float: left;
}
.footer li{
	width: 30%;
}
.footer p{
	text-align: center;
}
.Contact-Information{
	clear: both;
	width: 100vw;
}
.Contact-Information li{
	width: 30%;
	text-align: center;
}
nav{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
nav a{
	margin: 40px 200px;
}
.photobooth ~ p{
	float: left;
	width: 50%;
	clear: right;
	letter-spacing: 1px;
}
.photobooth {
	float: left;
	margin: 10px;
	width: 30%;
}
article{
	clear: both;
	margin-bottom: 275px;
}
.brunch ~ p{
	float: left;
	width: 50%;
	clear: right;
	letter-spacing: 1px;
}
.brunch {
	float: left;
	margin: 10px;
	width: 30%;
}
h2{
	text-align: center;
	margin-top: 0;
}
