body {
	background-color:beige;
 	color:crimson;
 	font-size:16px;
 	font-family:arial,garamond;sans-serif;
}
 a {	
 	color:mulberry; 
 }
p {
	color:olive;
	font-size:16px;
	font-family: arial, garamond, sans-serif;
<<<<<<< HEAD
}
=======
}
>>>>>>> c660e65b785bf2f2a674a595d4d2c46e829b1a87
