body {
	background-color:beige;
 	color:crimson;
 	font-size:16px;
 	font-family:arial,garamond;sans-serif;
}
 a {	
 	color:mulberry; 
 }
p {
	color:olive;
	font-size:16px;
	font-family: arial, garamond, sans-serif;
}

h2 {
	font-size: 18px;
}
footer {
	position: relative;
	bottom: 10px;
	right: 10px;
}
.container {
	text-align: center;
}